    <nav class="bg-[#f7f7f7] p-4 mt-5 mb-10">
        <div class="container w-[80%] mx-auto flex justify-between items-center ">

            <a routerLink ="/" class="text-black text-2xl font-bold">OJA Store </a>

            <ul class=" md:flex space-x-6 text-white">
                <li>
                    <a routerLink ="/register" class="text-black font-bold hover:text-gray-300">Register</a>
                </li>

                <li>
                    <a routerLink ="/login" class="text-black font-bold hover:text-gray-300">Login</a>
                </li>

                <li>
                    <a routerLink ="/**" class="text-black hover:text-gray-300">
                        <i class="fa-solid fa-cart-shopping "></i>
                    </a>
                </li>
            </ul>
        </div>
    </nav>
    <!-- <p class="ml-[10%] italic">Welcome To Our Shopping Website.. </p> -->

    

